<form action="/adicionar" method="post">

        <p>nome: </p>
            <input type="text" name="nome">

        <P>sobrenome: </P>
            <input type="text" name="sobrenome">

        <p>email: </p>
            <input type="email" name="email">

        <p>idade: </p>    
            <input type="number" name="idade">

        <p>senha: </p>
            <input type="password" name="senha">

    <button type="submit">Criar usuário</button>

</form>