<h1>Criar categorias</h1>

<form action="/criarCategoria" method="post">

        <p>Categoria: </p>
            <input type="text" name="categoria">

        <P>Avaliação comentada: </P>
            <input type="text" name="avaliacao_comentada">
<br>

    <button type="submit">Criar categoria</button>
